@import url(https://fonts.googleapis.com/css?family=Exo:300,400,500i,700&display=swap);
#root {
  min-height: 100%;
  margin: 2.5rem;
}

html, body, span, div {
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo", sans-serif;
  font-size: 0.1875in;
  background-color: #eee;
}

h1 {
  color: #eee;
}

button {
  border: none;
  outline: none;
  font-family: "Exo", sans-serif;
}

a {
  color: #1ea575;
  text-decoration: none;
}

.gecko_sign-up {
  box-shadow: 0 3px 0.125in rgba(28, 37, 46, 0.25);
  border-radius: 0.041666667in;
  background: #1c252e;
  max-width: calc(100% - 20px);
  width: 34rem;
  margin: auto;
  padding: 2.5rem;
}
.gecko_sign-up h1 {
  text-align: center;
  font-size: 23.85px;
}
.gecko_sign-up section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.gecko_sign-up button {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1rem 2rem;
  background-color: #344048;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  width: 100%;
  color: #eee;
  cursor: pointer;
}
.gecko_sign-up button:hover {
  background-color: #1a8f66;
}
.gecko_sign-up button:disabled {
  background: #1ea575;
  cursor: default;
}
.gecko_sign-up button:disabled:hover {
  background: #1ea575;
}
.gecko_sign-up form {
  display: grid;
  grid-column-gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  padding: 0px;
}
.gecko_sign-up form input {
  grid-column: span 2;
  border: 1px solid #eeeeee;
  background: transparent;
  outline: none;
  font-size: 18px;
  margin-top: 2.5rem;
  padding: 8px;
  width: calc(100% - 1rem);
  color: #eeeeee;
}
.gecko_sign-up form input.small {
  grid-column: span 1;
}
.gecko_sign-up form input::placeholder {
  font-family: "Exo", sans-serif;
  color: #eeeeee;
}
.gecko_sign-up form button {
  padding: 1rem 2rem;
  background-color: #1ea575;
  transition: background 0.2s ease-in-out;
  font-size: 21.6px;
  width: 100%;
  grid-column: span 2;
  color: #eee;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2.5rem;
}
.gecko_sign-up form a {
  display: flex;
  text-align: right;
  font-size: 0.9rem;
  margin: 0.5rem;
  margin-bottom: -1rem;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: #1ea575;
  grid-column: span 2;
}

.gecko_products_header {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #000;
}

.gecko_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.gecko_product {
  border-radius: 3pt;
  overflow: hidden;
  box-shadow: 0 2.25pt 0.75pc rgba(28, 37, 46, 0.05);
  background-color: #fff;
}
.gecko_product:hover {
  box-shadow: 0 0.125pc 12pt rgba(28, 37, 46, 0.1);
}
.gecko_product picture {
  display: block;
  overflow: hidden;
}
.gecko_product picture img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  transform-origin: bottom center;
}
.gecko_product picture img:hover {
  transform: scale(1.05);
}
.gecko_product .gecko_product_details {
  background-color: #fff;
  padding: 1.5rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.gecko_product .gecko_product_details h3 {
  color: #1c252e;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
}
.gecko_product .gecko_product_details h3:hover {
  text-decoration: underline;
}
.gecko_product .gecko_product_details p {
  text-align: center;
  margin: 0;
  color: #999;
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.gecko_product .gecko_product_details button {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 0 2px #1ea575;
  color: #1ea575;
  border-radius: 0.0625in;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
}
.gecko_product .gecko_product_details button:hover {
  background-color: rgba(30, 165, 117, 0.1);
}
